/*
    Properties sheet
    - Elements are modified here
    - '#' indicates a modification to that particular unique HTML element in the index
i.e: nav { color: RED }, will color every nav element RED.
    #nav-outer { color: BLUE }, will color the element ID'd as nav-outer, BLUE.
*/

body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: tomato;
}

#nav-bar{
    list-style: none;
}

.table{
    display: table;
    margin: 0 auto;
}

ul#nav-bar li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

#nav-outer{
    background-color: #253111;
    border-color: #d9e94b;
    top:0;
    border-width: 0 0 1px;
    position: (0,0);
    right: 0;
    left: 0;
    z-index: 1030;
    text-align: cener;
    min-height: 50px;
}

ul#nav-bar a{
    position: relative;
    display: block;
    border: 1px solid #d9e94b;
    color:white;
    padding: 15px 25px;
}